:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-btn: #008bfe;
  --bg-btn-hover: #006fcb;
  --color-btn: #ffffff;
  --font: "Montserrat", sans-serif;
  --font-style: normal;
  --bg-main: #f0f4f8;

  --font-size-btn: 24px;
  --line-height-btn: 36px;
  --font-weight-btn: 400;
  --border-btn: none;
  --border-radius-btn: 100px;
  --cursor-btn: pointer;

  --width-btn: 335px;
  --height-btn: 68px;

  --display: grid;
  --place-items: center;
  --min-height-page: 100vh;
}

body {
  display: var(--display);
  place-items: var(--place-items);
  min-height: var(--min-height-page);
  background-color: var(--bg-main);
  font-family: var(--font);
  font-style: var(--font-style);
}
