:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-btn: #008bfe;
  --font-btn: #ffffff;
  --bg-main: #f0f4f8;
}
